{% extends 'base.html' %} {% block content %}
<div class="display_content">
    <div class="content">
        <div class="page_title">
            <h1>{{ page.title }}</h1>
        </div>

        <div class="projects_content">
            <p>Projects Page text</p>
            <p>MEDIA_URL - {{MEDIA_URL}}</p>
            {% for project in projects %}
                <div class="project_block">
                    <div class="project_details">
                        <p class="project_categorie logo_underscore">{{ project.categorie }}</p>
                        <p class="project_name">{{ project.name }}<span class="logo_underscore">_</span></p>
                        <p class="project_description">{{ project.description }}</p>
                        <p class="project_info">{{ project.info }}</p>

                        <div class="apply_button">View project</div>
                    </div>
                    <div class="poject_picture">
                        <img class="project_image" src="/media/projects/project_01.png" alt="project_image">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
