{% load wagtailcore_tags tags i18n %}

<div class="footer">
    <div class="footer__container">
        <div class="footer_upper">
            <div class="contacts">
                <div class="lets_talk_block">
                    <p class="lets_talk">LET'S TALK</p>
                    <p class="get_in_touch">Get in touch, we&rsquo;re user-friendly!</p>
                </div>
                <div class="phone">
                    <p class="phone_number">03-300-8126</p>
                    <p class="mail">info@globalbit.co.il</p>
                </div>
                <div class="social_media">
                    <p class="connect">Connect with us</p>
                    <div class="sm_icons">
                        <div class="sm_icon">F</div>
                        <div class="sm_icon">in</div>
                    </div>
                </div>
            </div>
            <div class="white_form"></div>
        </div>
        <div class="footer_lower"></div>
    </div>
</div>
