{% load wagtailcore_tags tags %}

<div class="navbar">
    <div class="navbar__wrapper">
        <div class="navbar__image">
            <img src="https://cdn.dribbble.com/userupload/3158902/file/original-7c71bfa677e61dea61bc2acd59158d32.jpg?resize=400x0" alt="">
        </div>
        <div class="navbar__menu">
            <div class="navbar__container">
                {% for item in header_menu %}
                    <a href="{% pageurl item %}">{{ item }}</a>
                {% endfor %}
            </div>
            <a href="{% slugurl 'form-page' %}"> 
                <button class="contact_us">Contact us</button>
            </a>
        </div>
    </div>
</div>
