# Environment-based settings; copy this file to .env in project root and edit as needed

# Set a unique secret key for the project, required for running outside DEBUG mode
SECRET_KEY=Ensure_you_set_a_secret_key_this_is_important!

# Database details for postgres container
PG_DB=db
PG_USER=postgres
PG_PASSWORD=postgres
DB_PORT=5432

# Database URL to use
DATABASE_URL=postgresql://${PG_USER}:${PG_PASSWORD}@127.0.0.1:${DB_PORT}/${PG_DB}

# Ports for web container
WEB_PORT=8000
