@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/simpler');

.footer {
    background-color: #1d1b4c;
    color: white;
    font-family: Simpler;
}

.footer__container {
    width: 85%;
    margin: 0 5% 0 10%;
}

.footer_upper {
    display: flex;
    justify-content: space-between;
}

.footer_lower {
    margin: 45px 0 0 0;
    padding-bottom: 50px;
}

.contacts {
    margin-top: 45px;
}

.lets_talk {
    font-size: 40px;
    font-weight: bold;
}

.get_in_touch {
    font-size: 19px;
    margin: 10px 0 50px 0;
}

.phone {
    color: #00cdb9;
}
.phone_number {font-weight: bold;}

.mail {margin: 10px 0 50px 0;}

.sm_icons {
    display: flex;
    flex-direction: row;
}

.sm_icon {
    height: 24.2px;
    width: 28px;
    margin: 15px 15px 5px 0;
    padding: 5px 0 7px 8px;
    border-radius: 50%;
    opacity: 0.9;
    background-color: #00fadc;
    color: #1d1b4c;
    font-weight: bold;
}

.fb_icon {
    width: 22px;
    padding: 5px 0 7px 14px;
}

.footer_form {
    position: relative;
    top: 0;
}

.footer_lower {
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    font-size: 30px;
    font-weight: bold;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
}

.footer_column {
    /* border: 1px solid cornflowerblue; */
    font-family: Simpler;
}

.footer_column_heading {
    font-weight: bold;
}

.footer_column_item {
    margin: 15px 0;
    font-size: 16px;
    font-weight: lighter;
}
