@import url('https://fonts.cdnfonts.com/css/simpler');

.header {
    background-image: url("/media/bitmap_2022-11-29/bitmap.webp");
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 285px;
    margin: 0 0 0 5%;
    padding: 15px 0 0 0;
}

.logo {
    width: 200px;
    height: 48px;
    margin: 0 34px 0 0;
    font-family: Simpler;
    font-size: 40px;
    font-weight: bold;
    color: #1d1b4c;
}

.logo_underscore {
    color: #00ffe6;  
}

.menu {
    width: 80%;
}

.menu_list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}    

.menu_list__item {
    margin: 5px 0;
    padding: 5px 0;
    font-family: Simpler;
    font-size: 20px;
    font-weight: bold;
    color: #1d1b4c;
}    

.features {
    display: flex;
    width: 200px;
    height: 48px;
    margin: 0 0 0 54px;
    justify-content: space-between;
}

.language {
    padding: 5px 10% 0 0;
}

.language_item {
    height: 34px;
    width: 84px;
    padding: 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #1d1b4c;
    border-radius: 21px;
    color: #1d1b4c;
    font-family: Simpler;
    font-size: 20px;
    font-weight: bold;
}

.dis_person {
    width: 44px;
    height: 20px;
    margin: 5px 0 0 0;
    padding: 5px 11px 11px 13px;
    border-radius: 100px;
    background-color: #1d1b4c;
    position: absolute;
    right: -25px;
    /* margin: 0 0 0 90px; */
}

#dis_person {
    height: 24px;
    width: 24px;
}

.careers_highlight {
    height: 10px;
    width: 70px;
    position: relative;
    top: -10px;
    background-color: #00ffe6;
    /* z-index: 2; */
    z-index: -1;
}

.mobile_menu_button {
    display: none;
}

.mobile_menu {
    display: none;
    background-color: #1d1b4c;
    color: white;
    font-family: Simpler;
    font-weight: bold;
}

.mobile_menu_container {
    width: 80%;
    margin: 0 10%;
    padding: 30px 0 0 0;
}

.back {
    position: relative;
    left: -30px;
}

.mobile_menu_list__item {
    list-style-type: none;
    margin: 48px 0;
}

.mobile_menu_list__item a {
    text-decoration: none;
    color: white;
}

.mobile_menu_list__item a:active {
    color: cornflowerblue;
}

.mobile_menu__upper {
    padding: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.mobile_features {
    display: flex;
    justify-content: space-between;
}

.mobile_language {
    height: 42px;
    width: 100px;
    margin: 3px 10px 0 0;
    border-radius: 21px;
    border: solid 1px #fff;
    background-color: rgba(255, 255, 255, 0.14);

    font-family: Simpler;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_rectangle {
    width: 32px;
    height: 32px;
    margin: 3px 0 3px 30px;
    padding: 7px 3px 5px 10px;
    border-radius: 50% 0 0 50%;
    background-color: white;
    border: 1px solid #1d1b4c;
    position: absolute;
    right: 0;
}



@media screen and (max-width: 1100px) {
    .menu_list {
        display: none;
    }
    .mobile_menu_button {
        display: block;
    }
    .language {
        display: none;
    }
    .dis_person {
        display: none;
    }
    .features {
        justify-content: end;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1280px) {
    .menu_list__item {
        font-size: 18px;
    }
}