.footer {
    background-color: rgb(31, 30, 30);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1240px;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
}

.footer__menu a {
    color: white;
    font-weight: 400px;
    font-size: 16px;
    line-height: 50px;
    width: 100%;
    flex: 100%;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
}

.footer__links p {
    color: white;
    font-weight: 400px;
    font-size: 16px;
    line-height: 21px;
    flex: 100%;
}

.footer__image {}

.footer__image img {
    height: 40px;
    width: 60px;
    border-radius: 30px;
    border: 1px solid;
}

.navbar__image img {
    height: 40px;
    width: 60px;
    border-radius: 30px;
    border: 1px solid;
}

.contact_us {
    height: 50px;
    width: 200px;
    border: 1px solid;
    color: white;
    background-color: rgb(31, 30, 30);
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__wrapper {
    width: 1240px;
    display: flex;
    justify-content: space-around;
}

.navbar__container {
    display: flex;
}

.navbar__container a {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 0 40px 0 0;
}

.navbar__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    width: 100%;
    min-height: 500px;
}

a {
    color: black;
    text-decoration: none;
}

.heading_text {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 15px;
}

.paragraph_block {
    margin: 50px 200px 50px 200px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    flex-direction: column;
}

.image_block {
    margin: 50px 200px 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_block img {
    padding: 0px 0px 10px 0px;
    border-radius: 25px;
}

.embed_block {
    margin: 50px 200px 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_title {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 15px;
}

.home_page_news {
    margin: 50px 250px 50px 250px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    flex-direction: column;
    line-height: 30px;
}

.about_us {
    display: flex;
    align-items: center;
    padding: 0px 200px 0px 200px;
    margin: 50px;
    gap: 25px;
}

.about_us img {
    border-radius: 25px;
    width: 600px;
    height: 450px;
}

.about_us__description {
    flex: 60%;
    font-size: 14px;
    line-height: 21px;
}

.our_advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 250px 50px 250px;
}

.advantages_list {
    font-size: 14px;
    line-height: 50px;
}

ul {
    list-style: none;
}

ul li:before {
content: '✓';
}

.leadership {
    display: flex;
    flex-direction: column;
    margin: 50px 250px 50px 250px;
    align-items: center;
    justify-content: center;
}

.leadership__lead {
    display: flex;
    font-size: 14px;
    line-height: 21px;
    margin: 25px;
    gap: 25px;
}

.leadership__lead img {
    border-radius: 25px;
    width: 450px;
    height: 565px;
    border: 15px;
}

.leadership__lead__description {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.our_team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 250px 50px 250px;
}

.our_team__teachers img {
    border-radius: 15px;
}

.our_team__teachers {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.our_team__teachers__teacher {
    padding: 15px;
}
